# Vagrant stuff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Env
venv/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot
*.sqlite3

# Data Analytics
*.csv

# Uploads
src/uploads/*
!src/uploads/.gitkeep 
