{% extends 'dashboard/_base.html' %}

{% block title %}Dashboard:Demand Changes{% endblock %}

{% block content %}
  <div class="col-md-5 min-panel-width"> <!-- Left Column -->
    <div class="panel panel-info"> <!-- Right Column -->
      <div class="panel-heading">
        <b>Business Performance</b>
      </div>
      <div class="panel-body">
        <div id="bp_chart"></div>
      </div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">
        <b>Alerts: Demand Increase</b>
        <em>(umwt &euro;)</em>
        <!-- <div class="arrow-up inline"></div> -->
      </div>

      {% if alerts_demand.data.0.alerts.increase %}
      <div class="panel-body">
        {% for alert in alerts_demand.data.0.alerts.increase|slice:":4" %}
        <div class="card">
          <div class="card-container">
            <div>
              <p class="sc-text"><b class="sc-text">{{ alert.salesname }}</b></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="right">
                <h3 class="sc-text inline">{{ alert.sc_diff_umwteuro_percent }}%</h3>
                <div class="arrow-up inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div id="demo_increase" class="collapse">
          {% for alert in alerts_demand.data.0.alerts.increase|slice:"4:" %}
          <div class="card">
            <div class="card-container">
              <div>
                <p class="sc-text"><b class="sc-text">{{ alert.salesname }}</b></p>
              </div>
              <div>
                <p class="sc-text inline">{{ alert.monat }}</p>
                <div class="right">
                  <h3 class="sc-text inline">{{ alert.sc_diff_umwteuro_percent }}%</h3>
                  <div class="arrow-up inline"></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      {% else %}
      <div class="comtainer text-center">
          <h5>- No Alerts -</h5>
      </div>

      {% endif %}

      {% if alerts_demand.data.0.alerts.increase|length > 4 %}
      <div class="panel-footer" data-toggle="collapse" data-target="#demo_increase">
        <span class="glyphicon glyphicon-menu-down"></span>
      </div>
    </div>
      {% else %}
    </div>
    {% endif %}

    <div class="panel panel-danger">
      <div class="panel-heading">
        <b>Alerts: Demand Decrease</b>
        <em>(umwt &euro;)</em>
        <!-- <div class="arrow-up inline"></div> -->
      </div>

      {% if alerts_demand.data.0.alerts.decrease %}
      <div class="panel-body">
        {% for alert in alerts_demand.data.0.alerts.decrease|slice:":4" %}
        <div class="card">
          <div class="card-container">
            <div>
              <p class="sc-text"><b class="sc-text">{{ alert.salesname }}</b></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="right">
                <h3 class="sc-text inline">{{ alert.diff_umwteuro }}&euro;</h3>
                <div class="arrow-down inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div id="demo_decrease" class="collapse">
          {% for alert in alerts_demand.data.0.alerts.decrease|slice:"4:" %}
          <div class="card">
            <div class="card-container">
              <div>
                <p class="sc-text"><b class="sc-text">{{ alert.salesname }}</b></p>
              </div>
              <div>
                <p class="sc-text inline">{{ alert.monat }}</p>
                <div class="right">
                  <h3 class="sc-text inline">{{ alert.diff_umwteuro }}&euro;</h3>
                  <div class="arrow-down inline"></div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      {% else %}
      <div class="comtainer text-center">
          <h5>- No Alerts -</h5>
      </div>

      {% endif %}

      {% if alerts_demand.data.0.alerts.decrease|length > 4 %}
      <div class="panel-footer" data-toggle="collapse" data-target="#demo_decrease">
        <span class="glyphicon glyphicon-menu-down"></span>
      </div>
    </div>
      {% else %}
    </div>
    {% endif %}

  </div>
  <div class="col-md-7 min-panel-width">
    <div class="panel panel-info"> <!-- Right Column -->
      <div class="panel-heading">
        <b>Structural Performance</b>
      </div>
      <div class="panel-body sc-panel">
        {% include 'dashboard/chart_demand.html' %}
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var bp_demand = JSON.parse('{{ bp_demand|safe }}');

    // Business Performance (D3 Circles)
    function drawBP(jsonData) {
      // BP: Acquire Data
      var bpValue = jsonData.data[0].bp.toString()+"%";
      var bpCompany = jsonData.data[0].soldtoname;
      var bpColor = jsonData.data[0].bp > 100 ? "green" : "red";

      var width = 350
      var height = 200
      var circleOffsetY = 15

      // BP: Render
      var bp_svgContainer = d3.select("#bp_chart")
        .attr("align", "center")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("align", "center");
      var outterCircle = bp_svgContainer.append("circle")
        .attr("cx", width/2)
        .attr("cy", height/2 + circleOffsetY)
        .attr("r", 85)
        .attr("fill", bpColor);
      var innerCircle = bp_svgContainer.append("circle")
        .attr("cx", width/2)
        .attr("cy", height/2 + circleOffsetY)
        .attr("r", 70)
        .attr("fill", "white");
      var bp_value = bp_svgContainer.append("text")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", height/2 + 10 + circleOffsetY)
        .text(bpValue)
        .attr("font-family", "sans-serif")
        .attr("font-size", "30px");
      var bp_company = bp_svgContainer.append("text")
        .attr("text-anchor", "middle")
        .attr("x", width/2)
        .attr("y", 15)
        .text(bpCompany)
        .attr("font-family", "sans-serif")
        .attr("font-size", "15px");
    };
    drawBP(bp_demand);

</script>
{% endblock %}
