{% extends 'dashboard/_base.html' %}

{% block content %}
  <div class="col-md-5 min-panel-width"> <!-- Left Column -->
    <div class="panel panel-default bp-panel">
      <div class="panel-body">
        <div id="bp_chart"></div>
      </div>
    </div>

    <div class="panel panel-default alert-panel">
      <div class="panel-body">
        <div class="container-fluid alert-container">

          <div id="alert-increase" class="col-md-6 col-sm-6 alert-col-left">
            <div class="card">
              <div class="card-container">
                <div>
                  <h5 class="sc-text"><b class="sc-text">TLE4266-2G</b></h5>
                </div>
                <div>
                  <h5 class="sc-text inline">201705</h5>
                  <div class="inline right">
                    <h3 class="sc-text inline">67%</h3>
                    <div class="arrow-up inline"></div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div id="alert-decrease" class="col-md-6 col-sm-6 alert-col-right">
            <div class="card">
              <div class="card-container">
                <div>
                    <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
                </div>
                <div>
                  <h5 class="sc-text inline sc-monat">201705</h5>
                  <div class="inline right">
                    <h3 class="sc-text inline">67%</h3>
                    <div class="arrow-down inline"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-7 min-panel-width"> <!-- Right Column -->
    <div class="panel panel-default">
      <div class="panel-body sc-panel">
        <canvas id="sc_chart"></canvas>
      </div>
    </div>
  </div>

  <script type="text/javascript">

  // Helper Functions
    function rgbToString(value_list, opacity) {
      return 'rgba(' + value_list[0].toString() + ',' + value_list[1].toString() + ',' + value_list[2].toString() + ',' + opacity.toString() + ')';
    }

    function sc_rgb_colormap(value) {
      var base1 = [0, 162, 189];
      var base2 = [255, 162, 189];
      // var base2 = [246, 85, 160];
      // var base1 = [227, 247, 73];
      var diff = [base2[0]-base1[0], base2[1]-base1[1], base2[2]-base1[2]];
      var result = [];

      for(var v in diff) {
        result.push(Math.round(base1[v] + Math.abs(value)/100.0*diff[v]));
      }

      return rgbToString(result, 1);
    }

  // Alert Listing (Table)
    // Alert Listing : Acquire Data + Render.
    d3.json("{% url 'dashboard:api_needone_alerts' %}", function(error, jsonData) {
      // var alerts = jsonData.data.listing[0].alerts;
      // var labels = jsonData.data.labels;
      //
      // var alertTable = document.getElementById('alert-table');
      // var headerRow = alertTable.insertRow();
      // for (var label in labels) {
      //   // table headers
      //   var tableLabel = document.createElement('th');
      //   tableLabel.innerText = labels[label];
      //   headerRow.appendChild(tableLabel);
      // }
      //
      // for (var i in alerts) {
      //   // table entries
      //   var alertRow = alertTable.tBodies[0].insertRow(alertTable.tBodies[0].rows.length);
      //   for (var label in labels) {
      //     alertRow.insertCell(0);
      //   }
      //   alertRow.cells[0].innerText = alerts[i].salesname;
      //   alertRow.cells[1].innerText = alerts[i].monat;
      //   alertRow.cells[2].innerText = alerts[i].alert_description;
      // }

      var alerts = jsonData.data.listing[0].alerts;
      var alertContainer = document.getElementsByClassName('alert-container')[0]
      var leftColumn = alertContainer.children[0]
      var rightColumn = alertContainer.children[1]

      for (var i in alerts) {
        var alertDescriptionSplit = alerts[i].alert_description.split(' ')
        var isIncrease = (alertDescriptionSplit[0] == 'Increase')
        var alertCard = document.createElement('div')
        alertCard.className = "card"
        var cardContainer = document.createElement('div')
        cardContainer.className = "card-container"

        var cardContainerTop = document.createElement('div')
        var salesName = document.createElement('h5')
        salesName.className = "sc-text"
        var salesName2 = document.createElement('b')
        salesName2.className = "sc-text"
        salesName2.innerText = alerts[i].salesname;

        salesName.appendChild(salesName2)
        cardContainerTop.appendChild(salesName)

        var cardContainerBottom = document.createElement('div')
        var monat = document.createElement('h5')
        monat.className = "sc-text inline"
        monat.innerText = alerts[i].monat
        var cardContainerBottom2 = document.createElement('div')
        cardContainerBottom2.className = "inner right"
        var alertPercentage = document.createElement('h3')
        alertPercentage.className = "sc-text inline"
        var alertValue = Math.round(parseFloat(alertDescriptionSplit[2])).toString() + "%"
        alertPercentage.innerText = alertValue
        var alertDirection = document.createElement('div')
        if (isIncrease) {
          alertDirection.className = "arrow-up inline"
        }
        else {
          alertDirection.className = "arrow-down inline"
        }

        cardContainerBottom2.appendChild(alertPercentage)
        cardContainerBottom2.appendChild(alertDirection)
        cardContainerBottom.appendChild(monat)
        cardContainerBottom.appendChild(cardContainerBottom2)

        cardContainer.appendChild(cardContainerTop)
        cardContainer.appendChild(cardContainerBottom)
        alertCard.appendChild(cardContainer)

        if (isIncrease) {
          leftColumn.appendChild(alertCard)
        }
        else {
          rightColumn.appendChild(alertCard)
        }
      }

    });

    // Business Performance (D3 Circles)
      d3.json("{% url 'dashboard:api_needone_businessPerformance' %}", function(error, jsonData) {
        // BP: Acquire Data
        var bpValue = jsonData.data.listing[0].bp.toString()+"%";
        var bpCompany = jsonData.data.listing[0].soldtoname;
        var bpColor = "green"
        if (jsonData.data.listing[0].bp > 100) {
          var bpColor = "red"
        }

        // BP: Render
        var bp_svgContainer = d3.select("#bp_chart")
          .attr("align", "center")
          .append("svg")
          .attr("width", 220)
          .attr("height", 220)
          .attr("align", "center");
        var outterCircle = bp_svgContainer.append("circle")
          .attr("cx", 110)
          .attr("cy", 110)
          .attr("r", 85)
          .attr("fill", bpColor);
        var innerCircle = bp_svgContainer.append("circle")
          .attr("cx", 110)
          .attr("cy", 110)
          .attr("r", 70)
          .attr("fill", "white");
        var bp_value = bp_svgContainer.append("text")
          .attr("text-anchor", "middle")
          .attr("x", 110)
          .attr("y", 120)
          .text(bpValue)
          .attr("font-family", "sans-serif")
          .attr("font-size", "30px");
        var bp_company = bp_svgContainer.append("text")
          .attr("text-anchor", "middle")
          .attr("x", 110)
          .attr("y", 20)
          .text(bpCompany)
          .attr("font-family", "sans-serif")
          .attr("font-size", "15px");
      });


  // Structural Changes (ChartJS LineChart)
    d3.json("{% url 'dashboard:api_needone_records' %}", function(error, jsonData) {
      // SC: Acquire Data
      var sc_dataset = [];
      var sc_monat = jsonData.data.label;

      var mean_entry = {};

      // Defination of mean dataset
      mean_entry.label = 'Mean';
      mean_entry.data = jsonData.data.summary[0].mean;
      mean_entry.fill = false;
      mean_entry.showLine = false;
      mean_entry.pointStyle = 'triangle';

      // Color mapping for mean
      var black = rgbToString([10,10,10], 1);
      var blackList = [black,black,black];
      var meanColor = rgbToString([227,243,53], 1);
      var colorList = [meanColor,meanColor,meanColor];
      mean_entry.pointBackgroundColor = colorList;
      mean_entry.pointBorderColor = blackList;
      mean_entry.pointHoverBackgroundColor = colorList;
      mean_entry.pointHoverBorderColor = blackList;
      mean_entry.pointRadius = 12;
      mean_entry.pointHoverRadius = 12;
      mean_entry.pointHitRadius = 0;

      sc_dataset.push(mean_entry);

      for (var i in jsonData.data.summary[0].salesname_sc) {
        var sc_entry = {};
        var salesname_data = jsonData.data.summary[0].salesname_sc[i];

        // Defination of each dataset
        sc_entry.label = salesname_data.salesname;
        sc_entry.data = salesname_data.sc;
        sc_entry.fill = false;
        sc_entry.showLine = false;
        sc_entry.pointStyle = 'circle';
        sc_entry.pointRadius = 8;
        sc_entry.pointHoverRadius = 8;
        sc_entry.pointHitRadius = 0;

        // Color mapping
        var rgb0 = sc_rgb_colormap(sc_entry.data[0]);
        var rgb1 = sc_rgb_colormap(sc_entry.data[1]);
        var rgb2 = sc_rgb_colormap(sc_entry.data[2]);
        sc_entry.pointBackgroundColor = [rgb0, rgb1, rgb2];
        sc_entry.pointBorderColor = blackList;
        sc_entry.pointHoverBackgroundColor = [rgb0, rgb1, rgb2];
        sc_entry.pointHoverBorderColor = blackList;

        sc_dataset.push(sc_entry);
      }

      // SC: Render
      // Chart.defaults.global.tooltips.displayColors = false; // turn off color box within tooltips

      var sc_LineChart = new Chart('sc_chart', {
        type: 'line',
        data: {
          // Each entry
          datasets: sc_dataset,
          labels: sc_monat,
        },
        options: {
          legend: {
            display: false,
          },
          tooltips: {
            displayColors : false,
            callbacks: {
              title: function([tooltipItem], data) {
                return data.datasets[tooltipItem.datasetIndex].label;
              },
            },
            custom: function(tooltip) {
              function getBody(bodyItem) {
                return bodyItem.lines;
              }
              if (tooltip.body) {
        				var bodyLines = tooltip.body.map(getBody);
                bodyLines[0][0] = 'SC % :' + bodyLines[0][0].split(':')[1];
                // console.log(data);
              }
            },
          },
          maintainAspectRatio: false,   // To allow specifed size : http://www.chartjs.org/docs/latest/general/responsive.html
          animation: {
            duration: 0, // general animation time
          },
          hover: {
            animationDuration: 0, // duration of animations when hovering an item
          },
          responsiveAnimationDuration: 0, // animation duration after a resize
          scales: {
            yAxes: [{
              ticks: {
                min: -100,
                max: 100,
                stepSize: 25
              },
              scaleLabel : {
                display: true,
                labelString: "Structural Change %"
              },
              gridLines : {
                // display: false,
                drawBorder: false,
                // drawOnChartArea: true,
              }
            }],
            xAxes: [{
              scaleLabel : {
                display: true,
                labelString: "MONAT"
              },
              gridLines : {
                // display: false,
                drawBorder: false,
                // lineWidth: [0,1,0],
                drawOnChartArea: true,
              }
            }]
          }
        }
      });
    });
  </script>
{% endblock %}
