<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'dashboard/css/login_style.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <title>Dashboard Login</title>
  </head>
  <body background="{% static 'dashboard/img/loginBackground.png' %}">
    <div class="container">
      <div class="row vertical-align">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="panel panel-default login-panel">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <h4>Log in to your account</h4>

                  {% if error_message %}
                  <h5 class="text-danger">{{ error_message }}</h5>
                  {% endif %}

                  <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'dashboard/_form-template.html' %}
                    <div class="form-group">
                      <div class="col-xs-4">
                        <button type="submit" class="btn btn-default col-xs-12">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
