{% extends 'dashboard/_base.html' %}

{% block content %}
<link rel="prefetch" href="{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex=0&image=11">
<div class="col-md-9 min-panel-width"> <!-- Left Column -->
  {% if not user.is_anonymous %}
  <h3>Hello, {{ user }}!</h3>
  {% endif %}

      {% for bp_demand, bp_supply in bp_models %}
      {% with bp_demand.soldtoname as soldtoname %}

      <!-- <p>{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex={{ forloop.counter0 }}&image=11</p> -->
      <!-- https://stackoverflow.com/questions/12196435/javascript-function-return-src-path -->

      <div class="panel panel-default">
        <div class="panel-body overview-panel">
          <div class="row">

            <div class="col-md-3 overview-col-left">
              <div class="overview-records-soldtoname">

                <p><b>{{ soldtoname }}</b></p>
              </div>
            </div>

            <div class="col-md-9 overview-col-left">
              <div class="overview-records-content">
                <div class="inline overview-bp-container">
                  {% if bp_demand.bp > 100 %}
                  <div class="overview-bp" style="background: green;"></div>
                  {% else %}
                  <div class="overview-bp"></div>
                  {% endif %}
                </div>

                <div class="inline overview-records-chart">
                  <iframe src="{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex={{ forloop.counter0 }}&image={{ forloop.counter0 }}" style="border:none; width:100%; height:100%;"></iframe>
                </div>

                <div class="inline overview-bp-container">
                  {% if bp_supply.bp > 100 %}
                  <div class="overview-bp" style="background: green;"></div>
                  {% else %}
                  <div class="overview-bp"></div>
                  {% endif %}
                </div>

                <div class="inline overview-records-chart">
                  <iframe src="{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex={{ forloop.counter0 }}&image={{ forloop.counter0 }}" style="border:none; width:100%; height:100%;"></iframe>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
</div>

<div class="col-md-3 min-panel-width"> <!-- Right Column -->

  <h3 class="overview-heading">Alerts</h3>
  <div class="panel panel-default no-bottom">

    <div class="panel-body overview-panel">
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand</h4>
        <div class="arrow-up inline"></div>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_demand.data.0.alerts.increase %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline">{{ alert.sc_diff_umwteuro_percent }}&euro;%</h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand</h4>
        <div class="arrow-down inline"></div>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_demand.data.0.alerts.decrease %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline">{{ alert.diff_umwteuro }}&euro;</h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Supply</h4>
        <div class="arrow-down inline"></div>
      </div>
      <div class ="overview-alert-content">

        <!--  TODO: Replace with alerts_supply DECREASE! -->
        {% for alert in alerts_demand.data.0.alerts.increase %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline"></p>
              <div class="inline right">
                <h4 class="sc-text inline">{{ alert.sc_diff_umwteuro_percent }}pcs%</h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Order Descrepencies</h4>
      </div>
      <div class ="overview-alert-content">

        <!--  TODO: Replace with alerts_order -->
        {% for alert in alerts_demand.data.0.alerts.increase %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline">{{ alert.sc_diff_umwteuro_percent }}pcs%</h4>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</div>

{% endblock %}
