{% extends 'dashboard/_base.html' %}

{% block title %}Dashboard:Overview{% endblock %}

{% block content %}
<link rel="prefetch" href="{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex=0&image=11">
<div class="col-md-8 min-panel-width"> <!-- Left Column -->
  <!-- {% if not user.is_anonymous %}
  <h3 class='overview-heading'>Hello, {{ user }}!</h3>
  {% endif %} -->
  <h3 class='overview-heading'>Overview</h3>

  <!-- <p>{% url 'dashboard:api_records_demand_chart' %}?id=K03&soldtoindex={{ forloop.counter0 }}&image=11</p> -->
  <!-- https://stackoverflow.com/questions/12196435/javascript-function-return-src-path -->

  <div class="panel panel-default"> <!-- Right Column -->
    <div class="panel-body">

      <table class="table">
        <thead>
          <tr>
            <th style="text-align: center; width: 25%;">Company Name</th>
            <th style="text-align: center;">Demand Changes<br>BP - SC</th>
            <th style="text-align: center;">Supply Changes<br>BP - SC</th>
          </tr>
        </thead>

        <tbody>
          {% for bp_demand, bp_supply in bp_models %}
          {% with soldtoname=bp_demand.soldtoname clm_code=clm_summary.data.clm_code %}
          <tr>
            <td>{{ soldtoname }}</td>
            <td class="clickable-block" data-href="{{ bp_demand.redirect_link }}">
              <div style="text-align:center;">
                <div title="Business Performance" style="vertical-align:top; display:inline-block;">
                  {% if bp_demand.bp > 100 %}
                  <div class="overview-bp" style="background: green;">{{bp_demand.bp|floatformat:"0"}}</div>
                  {% else %}
                  <div class="overview-bp" style="background: red;">{{bp_demand.bp|floatformat:"0"}}</div>
                  {% endif %}
                </div>
                <div title="Structural Performance" style="display:inline-block;">
                  <div class="overview-records-chart">
                    <iframe src="{{ bp_demand.chart_link}}" style="border:none; width:100%; height:100%;"></iframe>
                  </div>
                </div>
              </div>
            </td>

            <td class="clickable-block" data-href="{{ bp_supply.redirect_link }}">
              <div style="text-align:center;">
                <div title="Business Performance" style="vertical-align:top; display:inline-block;">
                  {% if bp_supply.bp >= 93 %}
                  <div class="overview-bp" style="background: green;">{{bp_supply.bp|floatformat:"0"}}</div>
                  {% else %}
                  <div class="overview-bp" style="background: red;">{{bp_supply.bp|floatformat:"0"}}</div>
                  {% endif %}
                </div>
                <div title="Structural Performance" style="display:inline-block;">
                  <div class="overview-records-chart">
                    <iframe src="{% url 'dashboard:api_records_supply_chart' %}?id={{ clm_code }}&soldtoindex={{ forloop.counter0 }}&image=1" style="border:none; width:100%; height:100%;"></iframe>
                  </div>
                </div>
              </div>
            </td>

          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<div class="col-md-4 min-panel-width"> <!-- Right Column -->

  <h3 class="overview-heading">Alerts</h3>
  <div class="panel panel-default no-bottom">

    <div class="panel-body overview-panel">

      {% if alerts_demand.data.0.alerts.increase %}
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand Increase</h4>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_demand.data.0.alerts.increase %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline green">{{ alert.sc_diff_umwteuro_percent }}</h4>
                <h5 class="sc-text inline green">&euro;%</h5>
                <div class="arrow-up inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if alerts_demand.data.0.alerts.decrease %}
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand Decrease</h4>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_demand.data.0.alerts.decrease %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline red">{{ alert.diff_umwteuro }}</h4>
                <h5 class="sc-text inline red">&euro;</h5>
                <div class="arrow-down inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if alerts_supply.data.0.alerts %}
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Supply Decrease</h4>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_supply.data.0.alerts %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline"></p>
              <div class="inline right">

                <h4 class="sc-text inline red">to {{ alert.alert_percentage }}</h4>
                <h5 class="sc-text inline red">% pcs</h5>
                <div class="arrow-down inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if alerts_order.data.0.alerts %}
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Order Discrepancies</h4>
      </div>
      <div class ="overview-alert-content">

        {% for alert in alerts_order.data.0.alerts %}
        <div class="card">
          <div class="overview-card-container">
            <div>
              <p class="sc-text sc-soldtoname"><b>{{ alert.soldtoname }}</b></p>
            </div>
            <div>
              <p class="sc-text"><em>{{ alert.salesname }}</em></p>
            </div>
            <div>
              <p class="sc-text inline">{{ alert.monat }}</p>
              <div class="inline right">
                <h4 class="sc-text inline {{ alert.color }}">{{ alert.num_sd_diff }}&sigma;</h4>
                <div class="arrow-{{ alert.direction }} inline"></div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-block").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>

{% endblock %}
