{% extends 'dashboard/_base.html' %}

{% block content %}

<div class="col-md-9 min-panel-width"> <!-- Left Column -->

  <h3 class="overview-heading">Demand Changes</h3>
  <div class="panel panel-default">
    <div class="panel-body overview-panel">
    </div>
  </div>


  <h3 class="overview-heading">Supply Changes</h3>
  <div class="panel panel-default">
    <div class="panel-body overview-panel">
    </div>
  </div>

</div>

<div class="col-md-3 min-panel-width"> <!-- Right Column -->

  <h3 class="overview-heading">Alerts</h3>
  <div class="panel panel-default no-bottom">

    <div class="panel-body overview-panel">
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand</h4>
        <div class="arrow-up inline"></div>
      </div>
      <div class ="overview-alert-content">

        <div class="card">
          <div class="overview-card-container">
            <div>
              <h5 class="sc-text"><b class="sc-text">TLE4266-2G</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Demand</h4>
        <div class="arrow-down inline"></div>
      </div>
      <div class ="overview-alert-content">

        <div class="card">
          <div class="overview-card-container">
            <div>
              <h5 class="sc-text"><b class="sc-text">TLE4266-2G</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Supply</h4>
        <div class="arrow-down inline"></div>
      </div>
      <div class ="overview-alert-content">

        <div class="card">
          <div class="overview-card-container">
            <div>
              <h5 class="sc-text"><b class="sc-text">TLE4266-2G</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="overview-alert-heading">
        <h4 class="overview-alert-heading-text inline">Order Descrepencies</h4>
      </div>
      <div class ="overview-alert-content">

        <div class="card">
          <div class="overview-card-container">
            <div>
              <h5 class="sc-text"><b class="sc-text">TLE4266-2G</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="overview-card-container">
            <div>
                <h5 class="sc-text"><b class="sc-text">PXAC201602FC V1 R250</b></h5>
            </div>
            <div>
              <h5 class="sc-text inline sc-monat">201705</h5>
              <div class="inline right">
                <h4 class="sc-text inline">67%</h4>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}
