/* Base */
html,body { height: 100%; margin: 0px; padding: 0px; }

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Navigation Bar */
.navbar-header {
  height: 50px;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  height:
}
.brand {
  width: 60px;
}

/* Left Panels */
.bp-panel {
  height: 250px;
  min-height: 250px;
}

.alert-panel {
  height: 450px;
  min-height: 450px;
}

.alert-table-container {
  height: 410px;
  overflow: auto; /* Table to be within fixed size scrollabel container*/
}

/* Right Panels */

.sc-panel {
  height: 718px;
  min-height: 718px;
}
